{% include 'includes/_logoBar.html' %}
<div class="sidebar pt-5">
    
    <div class="container pt-5">
        <div class = "row">
            <ul class="no-outline list-group col-lg-2 col-md-2">
                <li class="no-outline list-group-item">Status</li>
                <li class="no-outline list-group-item">Application</li>
                <li class="no-outline list-group-item">Team</li>
                <li class="no-outline list-group-item">Information</li>
                <li class="no-outline list-group-item">Log Out</li>
            </ul>
        </div>
    </div>

</div>