<html>
<div style="max-width:800px; background-color: #F9ECEE; z-index: -1; position: absolute; top: 0; left: 0; padding: 20px">

    <div style="font-family: Questrial, sans-serif;
				background: #fff;
				box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
				border-radius: 3px;
				padding: 50px!important;
				max-width: 500px;
				display: block;
				margin: 20px auto;">
        <h2 style="margin-bottom: 20px; font-size: 14px; color: #777777">Hi {{ user.first_name }}, </h2>

        <p style="line-height: 20px; -webkit-font-smoothing: antialiased;
				  font-weight: normal;
				  color: #777777;
			  	  margin-bottom: 20px;">
            The purpose of this email is to confirm that we've received your updates to your
            {{ event_name }} RSVP!
        </p>

        <strong style=" color: #ED768B;
						font-size: 14px;">
            The TAMUhack Team
        </strong>

    </div>
</div>
</html>