[tool.poetry]
name = "hiss"
version = "0.1.0"
description = "open source hackathon registration system"
authors = ["Gabriel Britain", "Cameron Brill <tamuhack@cameronbrill.me>", "Adil Rasiyani"]
license = "GPL-3.0"

[tool.poetry.dependencies]
python = "^3.7"
astroid = "2.2.5"
babel = "2.7.0"
cachetools = "3.1.1"
certifi = "2019.9.11"
chardet = "3.0.4"
colorama = "0.4.1"
coverage = "5.1"
dj-database-url = "0.5.0"
django = "2.2.13"
django-admin-list-filter-dropdown = "1.0.2"
django-admin-rangefilter = "0.5.0"
django-anymail = "7.0.0"
django-cors-headers = "3.2.0"
django-multiselectfield = "0.1.11"
django-phonenumber-field = "3.0.1"
django-s3-storage = "0.13.2"
django-storages = "1.7.2"
djangorestframework = "3.10.2"
entrypoints = "0.3"
gunicorn = "19.9.0"
idna = "2.8"
isort = "4.3.21"
lazy-object-proxy = "1.4.2"
mccabe = "0.6.1"
phonenumbers = "8.10.15"
pypng = "0.0.20"
pyqrcode = "1.2.1"
pytz = "2019.2"
qrtools = "0.0.2"
requests = "2.22.0"
rsa = "4.7"
six = "1.12.0"
sqlparse = "0.3.0"
tblib = "1.5.0"
typed-ast = "1.4.0"
urllib3 = "1.25.6"
whitenoise = "5.2.0"
wrapt = "1.11.2"

[tool.poetry.dev-dependencies]
autohooks = "^2.2.0"
autohooks-plugin-black = "^1.2.0"
autohooks-plugin-pylint = "^1.2.0"
autohooks-plugin-isort = "^1.0.0"
flake8 = "3.7.8"
pycodestyle = "2.5.0"
pyflakes = "2.1.1"
pylint = "2.3.1"
pylint-django = "2.0.11"
pylint-plugin-utils = "0.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.autohooks]
mode = "poetry"
pre-commit = ["autohooks.plugins.black", "autohooks.plugins.pylint", "autohooks.plugins.isort"]

[tool.autohooks.plugins.pylint]
arguments = ["--exit-zero", "--rcfile=./hiss/.pylintrc"]

[tool.black]
exclude = '''
/(
   \.git
  | \.hg
  | \.venv
  | \.circleci
  | \.github
  | \.vscode
  | _build
  | build
  | dist
  | docs
  | \./*/migrations
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 80