appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
black==19.3b0
Click==7.0
Django==2.2.2
django-multiselectfield==0.1.8
django-sendgrid-v5==0.8.0
django-storages==1.7.1
future==0.17.1
gunicorn==19.9.0
isort==4.3.18
lazy-object-proxy==1.4.1
mccabe==0.6.1
psycopg2-binary==2.8.2
pylint==2.3.1
python-http-client==3.1.0
pytz==2019.1
sendgrid==6.0.5
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.3.5
wrapt==1.11.1
