appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
beautifulsoup4==4.7.1
black==19.3b0
Click==7.0
cssutils==1.0.2
Django==2.2.1
django-inlinecss==0.2.0
django-multiselectfield==0.1.8
future==0.17.1
isort==4.3.18
lazy-object-proxy==1.4.1
mccabe==0.6.1
psycopg2-binary==2.8.2
pylint==2.3.1
pynliner==0.8.0
pytz==2019.1
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.3.5
wrapt==1.11.1
