{% extends 'base.html' %}

{% block additional_CSS %}
{% load static %}
<link rel="stylesheet" href="{% static 'background_color_css.css' %}">
{% endblock %}

{% block body %}
{% include 'includes/_logoBar.html' %}

<section class="signin">
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col-sm-12 col-md-8 col-lg-6 login-box">
            <h1>Confirm Email</h1>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                <!-- security -->
                <div class="form-row">
                    <div class="col-md-12">
                        <input type="text" name="email" class="flat-field form-control form-control-md" placeholder="email">
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="confirm_code" class="flat-field form-control form-control-md" placeholder="confirm code">
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-login">
                        Confirm
                    </button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
</section>

{% endblock %}
