{% extends 'base.html' %}
{% block additional_CSS %}

{% load static %}
<link rel="stylesheet" href="{% static 'background_color_css.css' %}">
{% endblock %}

{% block body %}
{% include 'includes/_logoBar.html' %}

<section class="signin">

	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-sm-12 col-md-8 col-lg-6 login-box">
				<h1>Sign In</h1>
				<hr>
				<form id="login-form" method="POST" action="">
					{% csrf_token %}
					<!-- security -->
					<div class="form-row">
						<!-- Below are the fields -->
						<p>{{ form.as_p }}</p>
						<!-- End fields -->
						
						<button type="submit" class="btn btn-lg btn-block btn-login">
							Login
						</button>
					</div>
					{% csrf_token %}
				</form>
				<div class="row login-alt-options pt-5">
					<div class="col-sm-6 col-lg-6 text-left">
						Don't have an account? <a href="/accounts/register">Sign up</a>
					</div>
					<div class="col-sm-6 col-lg-6 text-right">
						<a href="">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}