{% extends 'base.html' %}

{% block body %}
{% include 'includes/_logoBar.html' %}

<section class = "sign_up signin">
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-sm-12 col-md-8 col-lg-6 login-box">
				<h1>Sign Up</h1> <hr>
				<form action="" method="POST">
					{% csrf_token %}	<!-- security -->
					<div class="form-row">
						<div class="col-md-12">
							<input type="text" name ="first_name" class="flat-field form-control form-control-md" placeholder="first name">
						</div>
						<div class="col-md-12">
							<input type="text" name ="last_name" class="flat-field form-control form-control-md" placeholder="last name">
						</div>
						<div class="col-md-12">
							<input type="email" name ="email" class="flat-field form-control form-control-md" placeholder="email">
						</div>
						<div class="col-md-12">
							<input type="text" name ="username" class="flat-field form-control form-control-md" placeholder="username">
						</div>
						<div class="col-md-12">
							<input type="password" name ="password" class="flat-field form-control form-control-md" placeholder="password">
						</div>
						<div class="col-md-12">
							<input type="password" name ="confirm_password" class="flat-field form-control form-control-md" placeholder="confirm password">
                        </div>
                    </div>
                    <div class="row btn-back-submit">
						<a role="button" href="/login" class="col-lg-3 justify-content-start btn btn-lg btn-block btn-login btn-secondary">
							Back
                        </a>
                        <div class="col-lg-6"></div>
                        <button type="submit" class="col-lg-3 justify-content-end btn btn-lg btn-block btn-login">
							Submit
						</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
</section>


{% endblock %}