{% extends 'base.html' %}


{% block additional_CSS %}
 
{% load static %}
<link rel="stylesheet" href="{% static 'background_color_css.css' %}">
{% endblock %}


{% block body %}
{% include 'includes/_logoBar.html' %}

<section class = "sign_up">
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-sm-12 col-md-8 col-lg-6 login-box">
				<h1>Sign Up</h1> <hr>
				<form method="POST">
					{% csrf_token %}	<!-- security -->

					{{form.as_p}}
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</section>


{% endblock %}