<html>
<style>
    .button:hover {
        background: #FC801A;
    }
</style>
<div class="container" style="
    min-width: 250px;
    width: 100vw;
    height: 100vh;
    background-color: #FFF8E8;
    z-index: 0;
    top: 0;
    position: absolute;
">

    <div class="box" style="
        z-index: 1;
        font-family: Questrial, sans-serif;
        background: #fff;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 50px 35px !important;
        display: block;
        margin: 100px auto;
        max-width: 600px;
    ">

        <img src="https://2021.hacklahoma.org/assets/logo2021.svg" alt="Hacklahoma 2021" style="height: 100px; margin-left: 50%; margin-bottom: 40px; transform: translateX(-50%);">

        <div class="content" style="text-align: center; font-size: 1.2em;">
            {% autoescape off %}
            To reset your password for your {{ event_name }} account, click the link below.
            <a class="link" style="
                width:fit-content;
                color: white;
                text-decoration: none;
                display: block;
                margin: 25px 0 25px 50%;
                transform: translateX(-50%);
                width: 215px;
            " class="link" href="https://{{ domain }}{% url 'customauth:password_reset_confirm' uidb64=uid token=token %}">
                <div class="button" style="
                    background: #FE8826;
                    padding: 15px 0;
                    border-radius: 0.25rem;
                    width: min-content;
                    display: block;
                    width: 215px;"
                >
                    RESET PASSWORD
                </div>
            </a>
            {% endautoescape %}
        </div>
        
        <h3 style=" margin-bottom: 5px;
				    font-size: 1.2em;
				    line-height: 30px;
				    -webkit-font-smoothing: antialiased;
				    font-weight: normal;">
            Thanks!
        </h3>

        <strong style=" color: #FE8826;
						font-size: 1.2em;">
            {{ event_name }} Team
        </strong>

	</div>
	
	<div style="margin-top: -30px; text-align: center; font-family: Questrial, sans-serif;">
        <div style="text-align: center;" class="text-center">
            Stay up to date with Hacklahoma by following our social media!
        </div>
        <div style="width: 100px; margin: 20px 0; display: inline-flex; justify-content: center;">
            <a href="https://www.facebook.com/Hacklahoma/" target="_blank">
                <img height="28px" src="https://2021.hacklahoma.org/assets/facebook.svg" alt="facebook" style="margin: 0 20px">
            </a>
            <a href="https://twitter.com/hacklahoma/" target="_blank">
                <img height="28px" src="https://2021.hacklahoma.org/assets/twitter.svg" alt="facebook" style="margin: 0 20px">
            </a>
            <a href="https://www.instagram.com/hacklahoma/" target="_blank">
                <img height="28px" src="https://2021.hacklahoma.org/assets/instagram.svg" alt="facebook" style="margin: 0 20px">           
            </a>
        </div>
    </div>
</div>

</html>