<html>

<div>

    {% autoescape off %}
        <p>
            To reset your password for your {{ event_name }} account, click the link
            below:
        </p>

        <p>
            <a href="https://{{ domain }}{% url 'customauth:password_reset_confirm' uidb64=uid token=token %}">Reset
                Password</a>
        </p>

        <p>
            If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
        </p>

        <h3>
            Thanks,
        </h3>

        <strong>
            The TAMUhack Team
        </strong>
    {% endautoescape %}
</div>

</html>