<html>
<div
        style="max-width:800px; background-color: #F9ECEE; z-index: -1; position: absolute; top: 0; left: 0; padding: 20px">

    <div style="font-family: Questrial, sans-serif;
			background: #fff;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			padding: 50px!important;
			max-width: 500px;
			display: block;
			margin: 20px auto;">

        {% autoescape off %}
            <p style="line-height: 20px; -webkit-font-smoothing: antialiased;
			   	  font-weight: normal;
				  color: #777777;
				  margin-bottom: 20px;">
                To reset your password for your {{ event_name }} account, click the link
                below:
            </p>

            <p style="line-height: 20px; -webkit-font-smoothing: antialiased;
				  font-weight: normal;
				  color: #777777;
				  margin-bottom: 20px;">
                <a href="https://{{ domain }}{% url 'customauth:password_reset_confirm' uidb64=uid token=token %}">Reset
                    Password</a>


            </p>

            <p style="line-height: 20px; -webkit-font-smoothing: antialiased;
				  font-weight: normal;
				  color: #777777;
				  margin-bottom: 20px;">
                If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
            </p>

            <h3 style=" margin-bottom: 5px;
				    font-size: 14px;
				    line-height: 30px;
				    -webkit-font-smoothing: antialiased;
					font-weight: normal;
					color: #777777;
					border-top: 1px solid #DEDEDE; padding-top: 20px; margin-top: 20px;">
                Thanks,
            </h3>

            <strong style="color: #ED768B;
						font-size: 14px;">
                The TAMUhack Team
            </strong>
        {% endautoescape %}
    </div>
</div>
</html>