html, body {
    overflow-x: hidden;
}

.inner-container {
    left: 50%;
    transform: translateX(-50%);
}

.navbar-custom {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: white;
    padding: 10px 0;
}

.navbar-custom a {
    display: inline;
    margin-right: 20px;
    color: black;
}

.navbar-custom a:hover {
    color: #666666;
}

.navbar-custom a.btn-logout {
    margin-right: 0px;
    margin-left: 40px;
    white-space: nowrap;
}

#logo_bar {
    background-color: white !important;
}

.register-btn {
    outline: none !important;
    border-style: none !important;
    background-color: #2ebfc7 !important;
}

.register-btn:hover {
    background: white !important;
    color: #2ebfc7 !important;
}


._content h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 550%;
}

._content p {
    font-family: 'Helvetica';
    line-height: 2em;
}


.signin {
    background-color: #F9ECEE;
    padding-top: 4em !important;
    padding-bottom: 3em !important;
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    background-size: cover;
}

.row.justify-content-md-center.text-center {
    margin-bottom: 12vh !important;
}

.reset-container {
    background-color: #F9ECEE;
}

.sm {
    padding: 3em 3.4em !important;
    height: 200px;
}

.sign_up {
    background-color: #D8ECFE;
    height: 100vh !important;
    margin-bottom: 0;
    padding-top: 3.5em !important;
    padding-bottom: 1em !important;
}

header {
    margin-bottom: 40px;
}

.signin label {
    width: 100% !important;
    text-align: left !important;
}

.signin label, p, a {
    width: 100%;
    font-size: 16px;
}

.signin a {
    text-align: right;
}

.signin input, input[type="email"] {
    border: 1px solid #999999;
    border-radius: 5px;
    width: 100%;
    padding: 10px !important;
}

input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
}

.sign_up input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
    background-color: #3E678C;
    color: white;
}

.sign_up input[type="submit"]:hover {
    background-color: #24405A;
    -webkit-transition: all, 0.8%;
    transition: all 0.8%;
    border: 0px solid #fff !important;
}

.sign_up label {
    display: none;
}

#id_extra_links {
    width: 100% !important;
    text-indent: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
}

.header-logo {
    max-width: 70px;
    margin-bottom: 20px;
}

.nav-brand {
    max-width: 80px !important;
    margin-left: 10px;
}

.signin h1, .reset-container h3 {
    text-transform: uppercase;
    margin-bottom: 5px !important;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.application, .login-box, .status-box {
    background: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 5em 8em;
}

.application {
    padding: 2em 5em;
    margin-bottom: 3.5em;
}

.login-box {
    padding: 6em !important;
}

.status-box {
    margin-bottom: 5em;
}

.submit-pg .status-box {
    margin-bottom: 40px;
    padding: 20px;
}

.flat-field {
    margin-bottom: 20px;
    outline: none;
    border: none;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 0;
    border-bottom: 1px solid black;
    -webkit-transition: all 0.5%;
    transition: all 0.5;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2ebfc7 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2ebfc7 4%);
    background-repeat: no-repeat;
}

.flat-field:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none;
    background-position: 0 0;
    border-bottom: 0px;
}

.btn-login {
    border-radius: 3px;
    background: #FF90A4;
    color: #fff;
    -webkit-transition: all, 0.8%;
    transition: all 0.8%;
    border: 0px solid #fff !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1px;
}

.btn-login:hover {
    background: #E86E84;
}

.a-btn {
    text-align: center !important;
}

.a-btn:hover {
    color: white;
    text-decoration: none;
}

.no-border {
    border: none;
    border: transparent;
    outline: none;
    outline: transparent;
}

.forgot-pswd {
    text-align: right;
    display: block !important;
}

.cant-login {
    text-align: right;
    display: block !important;
}

.sidebar {
    border: none;
    border: transparent;
    outline: none;
    outline: transparent;
    border-radius: 0 !important;
    background: transparent !important;
    background-color: transparent !important;
}

.list-group-item {
    border-radius: 0 !important;
}

.transparent-obj {
    background: transparent !important;
}

.navbar-trans {
    background: white;
}

.sidebar li:hover {
    color: blue !important;
}

.sidebar a:link, a:hover a {
    text-decoration: none;
    color: black;
}

.sidebar a:visited {
    text-decoration: none;
}

.btn-back-submit {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.dashboard {
    background-color: #F9ECEE;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

.alert {
    width: 100%;
    display: inline-block;
}

.app-status {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
}

.submit-pg p {
    font-weight: 300;
}

.submit-pg a {
    padding: 15px 10px;
    width: 250px !important;
}

.submit-pg a:hover {
    color: white;
}

.status-subtitle {
    padding: 0 50px;
    margin-bottom: 30px;
}

.application {
    width: 100%;
    max-width: 1200px;
}

.application h5 {
    text-transform: uppercase;
    margin-bottom: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px;
}

.application p {
    margin-bottom: 16px;
    text-align: left;
}

.application p > select {
    margin-bottom: 10px;
}

.application p > input, .application p > select {
    height: 50px;
}

.application p > input[type=text], .application p > input[type=tel] {
    width: 50% !important;
}

.application p > select {
    text-indent: 10px;
    color: #333333 !important;
    background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.application p > label::after {
    content: " *";
    color: red;
}

.helptext {
    text-align: left;
    font-size: 14px;
    font-style: italic;
    font-family: 'Open Sans';
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.application label {
    display: block;
    font-weight: 600 !important;
    margin-bottom: 8px;
    text-align: left;
}

.application ul {
    list-style: none;
    padding: 0;
    margin-top: -30px;
    margin-bottom: 30px !important;
}

.application ul li label {
    font-weight: 400 !important;
    margin-right: 20px !important;
}

.application input[type='text'], input[type='number'], input[type="tel"], .application textarea, .application select {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #bbb !important;
    font-size: 14px;
}

.application select {
    background: white;
    width: 50%;
}

.application select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white !important;
    padding: 100px !important;
    font-size: 14px;
}

.p-caution {
    font-size: 14px;
    color: #999999;
    font-style: italic;
}

.btn-width {
    max-width: 200px !important;
}

/* ---- Timeline ---- */
.timeline, .timeline-24 {
    position: relative;
    display: block;
    height: 15px;
    border-bottom: 2px dotted #bbb;
    padding: 0;
}

/* ---- Timeline elements ---- */
li {
    position: relative;
    display: inline-block;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
    height: 50px;
}

li img {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #ED768B;
    border-radius: 50%;
    background-color: #ED768B;
    margin-left: auto;
    margin-right: auto;
}

.timeline li {
    width: 32%;
}

.timeline-24 li {
    width: 23.5%;
}

li .diplome {
    position: absolute;
    text-align: center;
    top: 70%;
}

li .point {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid #ED768B;
    border-radius: 50%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.rsvp-button {
    display: inline-block !important;
    margin: 0px 10px;
}

#rsvp-form {
    margin-top: 40px;
}

textarea[name="notes"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

ul label {
    margin: 0px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    border: #c5c5c5 solid 1px;
    border-radius: 100px;
    color: #FF90A4;
    top: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type="radio"]:checked::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FF90A4;
    border-radius: 100px;
    content: ' ';
    height: 20px;
    width: 20px;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    border: #c5c5c5 solid 1px;
    color: white;
    top: 10px;
    height: 30px !important;
    width: 30px !important;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type="checkbox"]:checked::before {
    position: absolute;
    font: 20px/1 'Open Sans', sans-serif;
    top: 4px;
    left: 10px;
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 8px;
    height: 16px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid white;
    border-width: 0 3px 3px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
}

input[type="checkbox"]:checked {
    background-color: #FF90A4;
}

input[type="file"] {
    height: 48px;
    margin-bottom: -10px !important;
    display: block;
    width: 100% !important;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    padding-right: 90px;
    padding-top: 5px;
}

input[type="file"]::before {
    content: 'UPLOAD';
    display: inline-block;
    background: #3E678C;
    border-radius: .3rem;
    padding: .5rem 3rem !important;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: white;
    line-height: 1.5;
    font-size: 1rem;
}

label {
    font: 15px/1.7 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    margin-right: 20px;
}

#id_adult, #id_previous_attendant {
    margin-top: -10px;
    margin-bottom: 25px;
}

#id_race, #id_dietary_restrictions {
    margin-top: -10px;
    margin-bottom: 20px;
}

#id_adult li, #id_previous_attendant li {
    display: inline-block;
    width: 100%;
}

#id_race li, #id_dietary_restrictions li {
    margin-bottom: 10px;
}

#id_race li {
    width: 45%;
}

#id_race li label {
    font-size: 14px;
}

#id_mlh_coc {
    margin-top: -10px;
}

.rsvp-here {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: .5rem 3rem !important;
    width: auto !important;
}

.application textarea {
    height: 100px;
}

.application textarea[name="notes"] {
    margin-bottom: 35px;
}

.application form > p:nth-child(21), #id_notes {
    margin-bottom: 0px !important;
}

.secondary {
    background: #3E678C;
}

.secondary:hover {
    background: #325270;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.errorlist > li {
    color: #721c24;
    font-size: 14px;
    padding: 15px;
}

.errorlist {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 10px !important;
    padding: 0;
}

.errorlist > li::before {
    font-style: normal;
    font-weight: 600;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 10px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1201px) {
    #id_race li {
        width: 100%;
    }
}

@media only screen and (max-width: 992px ) {
    .navbar-custom a.btn-logout {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 768px) {

    .application p > input[type=text], .application p > input[type=tel] {
        width: 100% !important;
    }

    .status-subtitle {
        padding: 0 5vw;
        font-size: 14px;
    }

    li .diplome {
        font-size: 12px;
        line-height: 14px;
    }

    .application {
        padding: 5em 1em;
    }

    .application select {
        width: 100%;
    }

    .login-box {
        padding: 2rem !important;
        margin-bottom: 80px;
    }

    .password-box {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .status-box {
        padding: 30px 20px;
    }

    .status-box .app-status {
        margin-bottom: 10px;
    }

    .status-box .status-subtitle {
        padding: 0;
        margin-bottom: 20px;
    }

    .status-box p {
        font-size: 14px;
    }

    .navbar-custom a {
        font-size: 14px;
    }

    .navbar-custom a.btn-logout {
        margin-left: 60px;
    }

}


.application p > label[for="id_extra_links"]::after,
.application p > label[for="id_additional_accommodations"]::after,
.application p > label[for="id_notes"]::after {
    content: " " !important;
    clear: both;
}

.application p > #id_notes {
    margin-bottom: 30px !important;
}

.application p > label[for="id_adult"], .application p > label[for="id_mlh_coc"] {
    margin-left: 20px;
    display: inline;
}

.application p > #id_adult, .application p > #id_mlh_coc {
    margin: 0;
    float: left;
    margin-top: -12px;
}

#id_shifts {
    margin-top: 2px;
}