/* VARIABLES */

:root {
    /* ---- GENERIC ---- */
    --main-bkg-color: #f5f5f5;
    --black: #000;
    --simple-white: #fff;
    --simple-black: #333;
    --simple-dark-blue: #3E678C;
    --simple-darker-blue: #325270;
    --simple-maroon: #721c24; /* gig em colors */
    --simple-dark-purple: #4740af;
    --simple-darker-purple: #3c3693;
    --simple-darkest-purple: #38328a;
    /* SHADES of grey */
    --dark-grey: #777;
    --grey: #999;
    --light-grey: #c5c5c5;
    --lighter-grey: #bbb;
    /* SHADES of pink */
    --simple-light-blue: #89b2f5;
    --simple-blue: #5695fa;
    --simple-dark-blue: #2373f3;

    /* ---- BUTTONS ---- */
    --blue-register-btn: #2ebfc7;
    --login-btn: var(--simple-dark-purple);
    --login-btn-hover: var(--simple-darker-purple);
    --upload-btn: var(--simple-dark-purple);
    --upload-btn-hover: var(--simple-darker-purple);

    /* ---- NAVBAR ---- */
    --navitem-color: #000;
    --navitem-hover-active: #000;

    /* ---- SIGN UP ---- */
    --sign-up-bkg: var(--main-bkg-color);
    --sign-up-submit: var(--simple-dark-purple);
    --sign-up-submit-hover: var(--simple-darker-purple);

    /* ---- miscellaneous ----  */
    --reset-container-bkg: var(--main-bkg-color);
    /* the circles that show status */
    --application-status: var(--simple-dark-purple);
}

html, body {
    overflow-x: hidden;
}

.inner-container {
    left: 50%;
    transform: translateX(-50%);
}

/* target anchor colors */
a {
    color: var(--simple-dark-purple);
}

a:hover {
    /* color: #302c77; */
    color: var(--simple-darker-purple);
    text-decoration: underline;
}

.nav-bg {
    -webkit-box-shadow: 0 4px 3px -3px var(--grey);
    -moz-box-shadow: 0 4px 3px -3px var(--grey);
    box-shadow: 0 4px 3px -3px var(--grey);
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: var(--simple-white);
    padding: 10px 0;
}

.navbar .nav-item {
    display: inline;
    margin-left: 40px;
    margin-right: 20px;
    color: var(--navitem-color);
    white-space: nowrap;
}

.navbar .nav-item:hover {
    color: var(--navitem-hover-active);
    text-decoration: none;
    transition: 0.3s;
}

.navbar .nav-item .active {
    color: var(--navitem-hover-active);
    border-bottom: 1px solid var(--navitem-hover-active);
}

.navbar .nav-right{
    float: right;
    text-align: right;
    white-space: nowrap;
    margin-left: auto;
}

.navbar img {
    max-width: 40px;
}

#logo_bar {
    background-color: var(--simple-white) !important;
}

.register-btn {
    outline: none !important;
    border-style: none !important;
    background-color: var(--blue-register-btn) !important;
}

.register-btn:hover {
    background: var(--simple-white) !important;
    color: var(--blue-register-btn) !important;
}

._content h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 550%;
}

._content p {
    font-family: 'Helvetica';
    line-height: 2em;
}

.signin {
    background-color: var(--main-bkg-color);
    padding-top: 0 !important;
    padding-bottom: 3em !important;
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    background-size: cover;
}

.row.justify-content-md-center.text-center {
    margin-bottom: 12vh !important;
}

.reset-container {
    background-color: var(--reset-container-bkg);
}

.sm {
    padding: 3em 3.4em !important;
    height: 200px;
}

.sign_up {
    background-color: var(--sign-up-bkg);
    height: 100vh !important;
    margin-bottom: 0;
}

header {
    margin-bottom: 30px;
}

.signin label {
    width: 100% !important;
    text-align: left !important;
}

.signin label {
    width: 100%;
    font-size: 16px;
}

.signin a {
    text-align: right;
}

.signin input, input[type="email"] {
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 100%;
    padding: 10px !important;
}

input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
}

.sign_up input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
    background-color: var(--sign-up-submit);
    color: var(--simple-white);
}

.sign_up input[type="submit"]:hover {
    background-color: var(--sign-up-submit-hover);
    -webkit-transition: all, 0.8%;
    transition: all 0.8%;
    border: 0px solid var(--simple-white) !important;
}

.sign_up label {
    display: none;
}

#id_extra_links {
    width: 100% !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 300;
    opacity: 1; /* Firefox */
}

.header-logo {
    max-width: 72px;
    margin-bottom: 20px;
}

.nav-brand {
    max-width: 80px !important;
    margin-left: 10px;
}

/* main header for sign up/sign in */
.signin h1, .reset-container h3 {
    margin-bottom: 5px !important;
    font-size: 1.7rem;
    letter-spacing: 1px;
    /* fonts adapted from gatekeeper */
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    /* bootstrap utility class "font-weight-normal" class */
    font-weight: 400 !important;
    
}

.application, .login-box, .status-box, .team-form, .team-detail {
    border-radius: 3px;
    padding: 5em 8em;
}

.application {
    background: var(--simple-white);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 3em 5em;
    margin-bottom: 3.5em;
}

.login-box {
    /* match gatekeeper styles */
    margin-top: 40px;
    padding: 0 6em !important;
}

.status-box {
    margin-top: 0;
    margin-bottom: 5em;
    background: var(--simple-white);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.submit-pg .status-box {
    margin-bottom: 40px;
    padding: 20px;
}

.flat-field {
    margin-bottom: 20px;
    outline: none;
    border: none;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 0;
    border-bottom: 1px solid black;
    -webkit-transition: all 0.5%;
    transition: all 0.5;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, var(--blue-register-btn) 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, var(--blue-register-btn) 4%);
    background-repeat: no-repeat;
}

.flat-field:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none;
    background-position: 0 0;
    border-bottom: 0px;
}

.btn-login {
    border-radius: 3px;
    background: var(--login-btn);
    color: var(--simple-white);
    -webkit-transition: all, 0.8%;
    transition: all 0.8%;
    border: 0px solid var(--simple-white) !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1px;
}

.btn-login:hover {
    background: var(--login-btn-hover);
}

.a-btn {
    text-align: center !important;
}

.a-btn:hover {
    color: var(--simple-white);
    text-decoration: none;
}

.no-border {
    border: none;
    border: transparent;
    outline: none;
    outline: transparent;
}

.forgot-pswd-wrapper{
    flex: 0 0 100%;
}

.forgot-pswd {
    text-align: right;
    float: right;
}

.cant-login {
    text-align: right;
    display: block !important;
}

.sidebar {
    border: none;
    border: transparent;
    outline: none;
    outline: transparent;
    border-radius: 0 !important;
    background: transparent !important;
    background-color: transparent !important;
}

.btn-back-submit {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.dashboard {
    background-color: var(--main-bkg-color);
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

.alert {
    width: 100%;
    display: inline-block;
}

.app-status {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
}

.submit-pg p {
    font-weight: 300;
}

.submit-pg a {
    padding: 15px 10px;
    width: 250px !important;
}

.submit-pg a:hover {
    color: var(--simple-white);
}

.status-subtitle {
    padding: 0 50px;
    margin-bottom: 30px;
}

.application {
    width: 100%;
    max-width: 1200px;
}

.application h5 {
    text-transform: uppercase;
    margin-bottom: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px;
}

.application p {
    margin-bottom: 16px;
    text-align: left;
}

.application p > select {
    margin-bottom: 10px;
}

.application p > input, .application p > select {
    height: 50px;
}

.application p > input[type=text],
.application p > input[type=tel],
.application p > input[type=number] {
    width: 50% !important;
}

.application p > select {
    color: var(--simple-black) !important;
    background: var(--simple-white) url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.application.rsvp p > label::after {
    content: " ";
}

.rsvp-response-btn{
    display: inline-block;
    margin: 0 10px;
}

.helptext {
    text-align: left;
    font-size: 14px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.application label {
    display: block;
    font-weight: 600 !important;
    margin-bottom: 8px;
    text-align: left;
}

.application ul {
    list-style: none;
    padding: 0;
    margin-top: -30px;
    margin-bottom: 30px !important;
}

.application ul li label {
    font-weight: 400 !important;
    margin-right: 20px !important;
}

.application input[type='text'], input[type='number'], input[type="tel"], .application textarea, .application select {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid var(--lighter-grey) !important;
    font-size: 14px;
}

.application select {
    background: var(--simple-white);
    width: 50%;
}

.application select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--simple-white) !important;
    font-size: 14px;
}

.p-caution {
    font-size: 14px;
    color: var(--grey);
    font-style: italic;
}

.btn-width {
    max-width: 200px !important;
}

/* ---- Timeline ---- */
.timeline, .timeline-24 {
    position: relative;
    display: block;
    height: 15px;
    border-bottom: 2px dotted var(--lighter-grey);
    padding: 0;
}

/* ---- Timeline elements ---- */
li {
    position: relative;
    display: inline-block;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
    height: 50px;
}

li img {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid var(--application-status);
    border-radius: 50%;
    background-color: var(--application-status);
    margin-left: auto;
    margin-right: auto;
}

.timeline li {
    width: 32%;
}

.timeline-24 li {
    width: 23.5%;
}

li .diplome {
    position: absolute;
    text-align: center;
    top: 70%;
    width: 100%;
    font-size: 16px;
}

li .point {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid var(--application-status);
    border-radius: 50%;
    background: var(--simple-white);
    margin-left: auto;
    margin-right: auto;
}

.rsvp-button {
    display: inline-block !important;
    margin: 0px 10px;
}

#rsvp-form {
    margin-top: 40px;
}

ul label {
    margin: 0px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    border: var(--light-grey) solid 1px;
    border-radius: 100px;
    color: var(--simple-dark-blue);
    top: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type="radio"]:checked::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--simple-dark-blue);
    border-radius: 100px;
    content: ' ';
    height: 20px;
    width: 20px;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    border: var(--light-grey) solid 1px;
    color: var(--simple-white);
    top: 10px;
    height: 30px !important;
    width: 30px !important;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type="checkbox"]:checked::before {
    position: absolute;
    font: 20px/1 'Open Sans', sans-serif;
    top: 4px;
    left: 10px;
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 8px;
    height: 16px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid var(--simple-white);
    border-width: 0 3px 3px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
}

input[type="checkbox"]:checked {
    background-color: var(--simple-dark-blue);
}

/* upload resume btn */
input#id_resume::before {
    background-color: var(--upload-btn);
}

input#id_resume::before:hover,
input#id_resume::before:active {
    background-color: var(--upload-btn-hover);
}

input[type="file"] {
    height: 48px;
    margin-bottom: -10px !important;
    display: block;
    width: 100% !important;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    padding-right: 90px;
    padding-top: 5px;
}

input[type="file"]::before {
    content: 'UPLOAD';
    display: inline-block;
    background: var(--simple-dark-blue);
    border-radius: .3rem;
    padding: .5rem 3rem !important;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: var(--simple-white);
    line-height: 1.5;
    font-size: 1rem;
}

label {
    font: 15px/1.7 'Open Sans', sans-serif;
    color: var(--simple-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    margin-right: 20px;
}

#id_race {
    margin-top: -10px;
    margin-bottom: 20px;
}

#id_adult li {
    display: inline-block;
    width: 100%;
}

#id_race li {
    margin-bottom: 10px;
}

#id_race li {
    width: 45%;
}

#id_race li label {
    font-size: 14px;
}

.application li,
.select2-dropdown li  {
    height: auto;
}

.indented-input {
    padding-left: 30px;
    border-left: solid 2px grey;
}

label[for="id_agree_to_mlh_policies"],
label[for="id_agree_to_privacy"],
label[for="id_first_generation"],
label[for="id_is_adult"] {
    margin-left: 45px;
}

#id_agree_to_mlh_policies,
#id_agree_to_privacy,
#id_first_generation,
#id_is_adult {
    top: -30px;
}

#id_is_adult ~ .helptext,
#id_agree_to_mlh_policies ~ .helptext,
#id_agree_to_privacy ~ .helptext  {
    margin-top: -30px;
    margin-left: 45px;
}

.rsvp-here {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: .5rem 3rem;
    width: auto !important;
} 

.application textarea {
    height: 70px;
}

.secondary {
    background: var(--simple-dark-blue);
}

.secondary:hover {
    background: var(--simple-darker-blue);
    color: var(--simple-white);
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.errorlist > li {
    color: var(--simple-maroon);
    font-size: 14px;
    padding: 15px;
    height: auto !important;
}

.errorlist {
    background-color: var(--simple-light-blue);
    border: 1px solid var(--simple-blue);
    border-radius: 4px;
    margin-top: 10px !important;
    padding: 0;
}

.errorlist > li::before {
    font-style: normal;
    font-weight: 600;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 10px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.application p > label[for="id_extra_links"]::after {
    content: " " !important;
    clear: both;
}

.application p > label[for="id_adult"], 
.application p > label[for="id_mlh_coc"] {
    margin-left: 20px;
    display: inline;
}

.application p > #id_adult, 
.application p > #id_mlh_coc {
    margin: 0;
    float: left;
    margin-top: -12px;
}

#id_shifts {
    margin-top: 2px;
}

.team-form {
    padding: 80px 100px;
    max-width: 550px;
    display: block;
    margin: auto;
}
.team-detail {
    padding: 80px 70px;
    margin-top: 2rem;
}

.team-form h3, .team-detail h3{
    font-size: 24px;
    text-transform: uppercase;
}

.team-form h4 {
    margin-top: 2em;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
}

.team-form .create label { display: none; }

.team-form form input[type=text] {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
}

.team-detail h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.team-detail h5 {
    font-weight: 300;
    font-size: 18px;
}
.team-detail ul {
    padding: 0;
}
.team-detail ul li {
    font-size: 20px;
    font-weight: 300;
}

.team-detail .note {
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 300;
}

.team-detail input[type=submit] {
    padding: 12px;
}

.error-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-container h2{
    text-transform: uppercase;
    font-size: 1.1rem;
}

.error-container h4{
    font-family: 'Helvetica';
    font-weight: 700;
    margin-bottom: 20px;
}

.error-container p, .error-container h2{
    margin-bottom: 100px;
}

.error-container .btn-lg{
    width: auto !important;
    margin: 0 auto;
    text-decoration: none;
}

.error-container .btn-lg:hover{
    color: var(--simple-white);
}

@media only screen and (max-width: 1201px) {
    #id_race li {
        width: 100%;
    }
}

@media only screen and (max-width: 992px ) {
    .navbar {
        justify-content: flex-start!important;
    }
    .navbar .nav-right {
        width: auto;
    }
    .navbar button.navbar-toggler {
        padding: 5px;;
        color: var(--dark-grey);
        border: 0;
    }
}

@media only screen and (max-width: 768px) {
    .signin {
        padding-top: 0 !important;
    }
    .signin img {
        max-width: 25px;
    }
    .signin h1 {
        font-size: 1.2rem;
    }
    .application p > input[type=text], 
    .application p > input[type=tel],
    .application p > input[type=number] {
        width: 100% !important;
    }

    .status-subtitle {
        padding: 0 5vw;
        font-size: 14px;
    }

    li .diplome {
        font-size: 12px;
        line-height: 14px;
    }

    .application {
        padding: 2em 1.2em;
    }

    .application select {
        width: 100%;
    }

    .login-box {
        padding: 2rem !important;
        margin-bottom: 80px;
    }

    .password-box {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .status-box {
        padding: 30px 20px;
        margin: 0 -20px;
    }

    .status-box .app-status {
        margin-bottom: 10px;
    }

    .status-box .status-subtitle {
        padding: 0;
        margin-bottom: 20px;
    }

    .status-box p {
        font-size: 14px;
    }
    .navbar .nav-item, 
    .navbar .nav-right {
        font-size: 14px;
        display: block;
        margin: 15px 0 10px;
    }
    .navbar .nav-right {
        text-align: left;
        float: left;
        margin-top: 5px;
    }
    .team-form {
        padding: 60px 50px;
    }
    .team-detail {
        padding: 60px 30px 40px;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .team-detail h4, .team-detail h5, .team-detail ul li {
        font-size: 16px;
    }
    .team-detail .note {
        font-size: 12px;
    }
    .team-detail input[type=submit] {
        margin: 0;
    }
}

@media only screen and (max-width: 390px ) {
    #id_agree_to_mlh_policies,
    #id_agree_to_privacy,
    #id_is_adult,
    #id_first_generation {
        top: -53px;
    }
}

@media only screen and (max-width: 376px ) {
    #id_is_adult {
        top: -53px;
    }
}
