{% extends 'base.html' %} {% load static %}
{% block body %}
    {% block content %}
    {% endblock %}
    <div class="error-container">
        <h1>403</h1>
        <h2>Page Forbidden</h2>
        <h4>Whoops! It looks like you do not have access to this page.</h4>
        <p>If you think this is a mistake, email us at <a href="mailto: hello@tamuhack.com">hello@tamuhack.com</a></p>
        <a class="btn btn-lg btn-block btn-login" href="{% url 'status' %}">
            Take Me Back
        </a>
    </div>

{% endblock %}
