{% extends 'base.html' %} {% load static %}
{% block body %}
    {% block content %}
    {% endblock %}
    <div class="error-container">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <h4>Whoops! It looks like the page you are looking for doesn't exist.</h4>
        <p>If you think this is a mistake, email us at <a href="mailto: help@tamuhack.com">help@tamuhack.com</a></p>
        <a class="btn btn-lg btn-block btn-login" href="/">
            Back to Home Page
        </a>
    </div>

{% endblock %}