{% extends 'base.html' %} {% load static %} {% block body %}
<section class="dashboard">
  <nav class="navbar navbar-expand-md navbar-light nav-bg" role="navigation">
    <span class="navbar-span">
      <button
        class="navbar-toggler hidden-sm-up float-xs-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <img
        src="{% static 'main.png' %}"
        class="navbar-logo d-none d-md-block"
      />
    </span>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <div class="navbar-nav justify-content-center w-100">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/events">Events</a>
        <a class="nav-item" href="/schedule">Schedule</a>
        <a class="nav-item" href="/challenges">Challenges</a>
        <a class="nav-item" href="/apply">Apply</a>
      </div>
      <a class="nav-item logout-link" href="{% url 'customauth:logout' %}">Logout</a>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col justify-content-center col-xl-10 col-md-12 pt-4 inner-container"
      >
        <div>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
