{% include 'includes/_logoBar.html' %}

{% if request.path == '/status' %}

<div class="sidebar pt-5">
    
    <div class="container pt-5">
        <div class = "row">
            <ul class="list-group col-lg-2 col-md-2 text-right">
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0 active">Status</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Application</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Team</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Information</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Log Out</li>
            </ul>
        </div>
    </div>

</div>

{% elif request.path == '/application' %}

<div class="sidebar pt-5">
    
    <div class="container pt-5">
        <div class = "row">
            <ul class="list-group col-lg-2 col-md-2 text-right">
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Status</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0 active">Application</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Team</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Information</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Log Out</li>
            </ul>
        </div>
    </div>

</div>

{% elif request.path == '/team' %}

<div class="sidebar pt-5">
    
    <div class="container pt-5">
        <div class = "row">
            <ul class="list-group col-lg-2 col-md-2 text-right">
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Status</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Application</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0 active">Team</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Information</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Log Out</li>
            </ul>
        </div>
    </div>

</div>

{% elif request.path == '/information' %}

<div class="sidebar pt-5">
    
    <div class="container pt-5">
        <div class = "row">
            <ul class="list-group col-lg-2 col-md-2 text-right">
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Status</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Application</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Team</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0 active">Information</li>
                <li class="list-group-item border-top-0 border-left-0 border-bottom-0">Log Out</li>
            </ul>
        </div>
    </div>

</div>
{% endif %}