{% extends 'unfold/layouts/base_simple.html' %}
{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}
{% block branding %}

<head>
    <link rel="stylesheet" href="../static/admin.css">
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
</head>

{% endblock %}

{% block content %}

<div class="admininfo">
    <head>
        <h1>
            Application Information
        </h1>
    </head>
    <body>
        <div class="card">
            <h2>Total Confirmed: {{ total_confirmed }}</h2>
        </div>
        <div class="card">
            <h2>Total Male: {{ gender_male }}</h2>
        </div>
        <div class="card">
            <h2>Total Female: {{ gender_female }}</h2ß>
        </div>
    </body>
</div>

{% endblock %}