{% extends 'dashboard_base.html' %} {% load static %} {% block content %}
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <div class="status-box">
        <header>
            {% if CONFIRMED or NEEDS_TO_CONFIRM or DECLINED %}
                <ol class="timeline-24">
            {% else %}
                <ol class="timeline">
            {% endif %}

            <li>
                <p class="diplome">Submitted</p>
                {% if CONFIRMED or REJECTED or PENDING or NEEDS_TO_CONFIRM or DECLINED %}
                    <img src="{% static 'tick.svg' %}">
                {% else %}
                    <span class="point"></span>
                {% endif %}
            </li>
            <li>
                <p class="diplome">In Review</p>
                {% if CONFIRMED or REJECTED or NEEDS_TO_CONFIRM or WAIT_UNTIL_NEXT_WAVE or DECLINED %}
                    <img src="{% static 'tick.svg' %}">
                {% else %}
                    <span class="point"></span>
                {% endif %}
            </li>
            <li>
                <p class="diplome">Decisions Released</p>
                {% if CONFIRMED or REJECTED or NEEDS_TO_CONFIRM or DECLINED %}
                    <img src="{% static 'tick.svg' %}">
                {% else %}
                    <span class="point"></span>
                {% endif %}
            </li>

            {% if CONFIRMED or NEEDS_TO_CONFIRM or DECLINED %}
                <li>
                    <p class="diplome">RSVP</p>
                    {% if CONFIRMED or DECLINED %}
                        <img src="{% static 'tick.svg' %}">
                    {% else %}
                        <span class="point"></span>
                    {% endif %}
                </li>
            {% endif %}
            </ol>
        </header>

        <div class="pt-4 text-center submit-pg">
            <br>
            {% if NOT_APPLIED %}
                <p> Your application is </p>
                <div class="app-status">INCOMPLETE</div>

                <p class="status-subtitle pt-2" style="margin-bottom: 0;">
                    Submit your application before {{ active_wave_end }} {{ TIME_ZONE }} to be considered during
                    this wave.
                    Don't worry,
                    though! You can still apply after the deadline as part of another wave.
                </p>

                <div class="row login-alt-options pt-4">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <br>
                        <a href="{% url 'application:create' %}" class="btn btn-login">Complete Application</a>
                    </div>
                </div>

            {% elif PENDING %}
                <p> Your application has been </p>
                <div class="app-status">SUBMITTED</div>

                <p class="status-subtitle pt-2">
                    Thanks for applying! We'll email you as soon as decisions are released.
                </p>
                <div class="row login-alt-options">
                    <div class="col-sm-12 col-lg-12 text-center">

                        <br>
                        <a href="{{ application.get_absolute_url }}" class="btn btn-login">
                            {% if active_wave_end %}
                                Edit Application
                            {% else %}
                                View Application
                            {% endif %}
                        </a>

                    </div>
                </div>

            {% elif NEEDS_TO_CONFIRM and not DECLINED %}
                <p> Congrats, you have been </p>
                <div class="app-status">ACCEPTED</div>

                <p class="status-subtitle pt-2">
                    {% localtime off %}
                        Please RSVP below by {{ confirmation_deadline }} {{ TIME_ZONE }} or you risk losing your spot.
                    {% endlocaltime %}
                </p>
                <div class="row login-alt-options">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <br>
                        <form method="POST" action="{% url 'application:confirm' pk=application.pk %}" class="rsvp-response-btn">
                            {% csrf_token %}

                            <input class="btn btn-login" type="submit" value="I'll be there!">
                        </form>
                        <form method="POST" action="{% url 'application:decline' pk=application.pk %}" class="rsvp-response-btn">
                            {% csrf_token %}

                            <input class="btn btn-login secondary" type="submit" value="I can't make it">
                        </form>
                    </div>
                </div>

            {% elif CONFIRMED %}
                <p>Your attendance has been</p>
                <div class="app-status">CONFIRMED</div>

                <p class="status-subtitle pt-2">
                    Prepare for the event by visiting our FAQ for tips and info. See you soon!
                </p>

                <p>
                    Have additional questions? Email us at hello@tamuhack.com
                </p>

            {% elif REJECTED %}
                <p> Your application has been </p>
                <div class="app-status">WAITLISTED</div>

                <p class="status-subtitle pt-2">
                    Unfortunately, you have not been admitted into the event.
                </p>

                <div class="row login-alt-options pt-4">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <br>
                        <a href="{{ application.get_absolute_url }}" class="btn btn-login">View Application</a>
                    </div>
                    {% elif DECLINED %}
                    <div class="app-status">Not Attending</div>

                    <p class="pt-2">We're sorry to hear you can't make it! Thanks for telling us!</p>

                    {% elif NO_MORE_WAVES %}
                    <p>Sorry, we are currently not accepting applications.</p>
                </div>
            {% elif EXPIRED %}
                <p>Your confirmation deadline has</p>
                <div class="app-status">EXPIRED</div>
                <p class="status-subtitle pt-2">
                    You did not confirm your attendance by the deadline provided, so we have given your spot to other
                    applicants.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}