body {
  font-family: Questrial, sans-serif;
  background-color: #F9ECEE;
}
h2, p {
  margin-bottom: 35px;
}

h3 {
  margin-bottom: 10px;
}
p, h3 {
  font-size: 20px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;  
  font-weight: normal;
}

strong, span {
  color: #ED768B;
  font-weight: bold;
  font-size: 20px;
}
.content-container {
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 3em 5em !important; 
  max-width: 800px;
  display: block;
  margin: 20px auto;
}