body {
  background: #f1f1f1 !important;
}
h3 {
  text-align: center;
  margin: 25vh 25vw;
  background-color: white;
  font-size: 36px;
  max-width: 800px;
  min-width: 300px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 3em 5em;
  font-weight: 300;
  font-family: sans-serif;
}