<html>
<div style="max-width:800px; background-color: #1B1E9A; z-index: -1; position: absolute; top: 0; left: 0; padding: 20px">

    <div style="font-family: Questrial, sans-serif;
			background: #fff;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			padding: 50px!important;
			max-width: 500px;
			display: block;
			margin: 20px auto;">

        <h2 style="margin-bottom: 20px; font-size: 16px; color: #777777">Congratulations, {{ first_name }}! </h2>

        <p style="line-height: 20px;
				  font-weight: normal;
				  color: #777777;
				  margin-bottom: 20px;">
            You have been accepted to {{ event_name }}! We were impressed by your application and have handpicked you to
            attend.
        </p>
        <p style="line-height: 20px;
				-webkit-font-smoothing: antialiased;
				font-weight: normal;
				color: #777777;
				margin-bottom: 20px;">
            Please <span style="color: #1FBDA8; font-weight: 700">RSVP at the link below</span>
            to confirm your attendance. Check our website for the confirmation deadline.
        </p>

        <p style="line-height: 20px;
				  font-weight: 700;
				  color: #777777;
				  border-bottom: 1px solid #DEDEDE; padding-bottom: 20px; margin-bottom: 20px;">
            Please read the following important information before filling out the RSVP form.
        </p>

        <div style="margin-bottom: 20px; color: #777777">
            <h5 style="text-align: center; font-size: 16px; margin-bottom: 5px; margin-top: 0;">
                Event Details:
            </h5>
            <p style="line-height: 20px; text-align: center; margin-top: 0; margin-bottom: 0px;">
                October 17th &#8211; 18th, 2020
            </p>
            <p style="line-height: 20px; text-align: center; margin-top: 0; margin-bottom: 0px;">
                Online at <a href="https://tamudatathon.com" style="color: #003FEE">tamudatathon.com</a>
            </p>
        </div>

        <p style="line-height: 20px; color: #777777; margin-bottom: 15px;">
            Check out our website for the full schedule of events!
        </p>

        <p style="line-height: 20px; color: #777777; margin-bottom: 20px;">
            We will be sending another email closer to the datathon with more details on what to expect, how to participate,
            and anything else you might want to know.
        </p>

        <p style="line-height: 20px; color: #777777; border-bottom: 1px solid #DEDEDE; padding-bottom: 20px; margin-bottom: 20px;">
            In the meantime, feel free to email <a href="mailto:connect@tamudatathon.com" style="color: #003FEE">connect@tamudatathon.com</a>
            if you have any questions.
        </p>

        <h4 style="color:#1FBDA8; margin-bottom: 10px;">Required: Sign into your account and RSVP to let us know whether
            you will be attending {{event_name}}.</h4>
        <a href="{{ registration_url }}/apply/status" target="_blank"
           style="display: inline-block; background-color: #1FBDA8; color: white; font-weight: 700; padding: 15px 20px; text-decoration: none; border-radius: 5px;">LOG
            IN</a>

        <h3 style=" margin-bottom: 5px;
				    font-size: 16px;
				    line-height: 30px;
					font-weight: normal;
					color: #777777;
					border-top: 1px solid #DEDEDE; padding-top: 20px; margin-top: 20px;">
            Thanks!
        </h3>

        <strong style="color: #1FBDA8;
						font-size: 16px;">
            The TAMU Datathon Team
        </strong>
    </div>
</div>
</html>
