<html>
  <div
    style="
      max-width: 800px;
      background-color: #ADD8E6;
      z-index: -1;
      padding: 20px;
    "
  >
  <!-- <header style='
      max-width: 500px;
      display: block;
      margin-right: auto;
      margin-left: 12.5%;
    '>
      <div id='created-banner'>
        <img src='/resources/img/tamuhack-header.jpg' alt='tamuhack banner'>
      </div>
  </header> -->

    <div
      style="
        font-family: Questrial, sans-serif;
        background: #fff;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 50px !important;
        max-width: 500px;
        display: block;
        margin: 20px auto;
        margin-top: 0px;
      "
    >

      <h2 style="margin-bottom: 20px; font-size: 16px; color: #777777">
        Congratulations, {{ first_name }}!
      </h2>

      <p
        style="
          line-height: 20px;
          -webkit-font-smoothing: antialiased;
          font-weight: normal;
          color: #777777;
          margin-bottom: 20px;
        "
      >
        You have been accepted to {{EVENT_NAME}} {{EVENT_YEAR}}! We were impressed by your application and we’re excited to see you  
        <span style="color: #ADD8E6; font-weight: 700"
        >September 28-29, 2024.</span>
      </p>

      <p
        style="
          line-height: 20px;
          color: #777777;
          margin-bottom: 20px;
          
        "
      >
        There's just <strong>one final step</strong> before you're good to go!
      </p>

      <p
        style="
          line-height: 20px;
          color: #777777;
          margin-bottom: 20px;
        "
      >
        We have some important information to share before we get started, so please use the link below to RSVP for the event if you're still intending to attend!
      </p>

      <!--<p
      style="
        line-height: 20px;
        color: #777777;
        font-size: 12px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      "
    >
    * If you are not located in the Bryan/College Station area and intend to attend TAMUhack in person, we provide travel reimbursements for participants driving to the event depending on distance traveled. Receipts for gas are required to claim reimbursement, which will take place on the second day of the event.
    </p>
  -->

      <a href="https://register.tamuhack.com/status/" style="cursor: pointer;">
        <button style="cursor: pointer; padding: 15px 10px; width: 250px; background-color: #ADD8E6; border-radius: .25em; border:none; color: white; font-size: 16px;">
          Login to RSVP
        </button>
      </a>
      
      <br />
      <br />

      <p
        style="
          line-height: 20px;
          color: #777777;
        "
      >
        In the meantime, feel free to email
        <a href="mailto:hello@tamuhack.com" style="color: #00add8"
          >{{ ORGANIZER_EMAIL }}</a
        >
        if you have any questions.
      </p>


      <h3
        style="
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 30px;
          font-weight: normal;
          color: #777777;
          padding-top: 20px;
          margin-top: 20px;
        "
      >
        Thanks!
      </h3>

      <strong style="color: #ADD8E6; font-size: 16px">
        The {{ ORGANIZER_NAME }} Team
      </strong>
    </div>
  </div>
</html>