<html>
  <div
    style="
      max-width: 800px;
      background-color: #f9ecee;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
    "
  >
    <div
      style="
        font-family: Questrial, sans-serif;
        background: #fff;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 20px !important;
        max-width: 500px;
        display: block;
        margin: 20px auto;
      "
    >
      <h2 style="margin-bottom: 20px; font-size: 16px; color: #777777">
        Hi {{ first_name }}!
      </h2>




      <span
      style="line-height: 20px; color: #777777;"
      >
      <br />
      Thank you for confirming your attendance at HowdyHack 2021! We’re excited to see you this coming weekend.
      <br />
      We have some important information to share before we get started, so please read below for some key details about HowdyHack.
      <br />
      <br />
      <strong> Event Details </strong> <br />
      When: September 11th – 12th, 2021 <br /> 
      Where: MSC 2400 and virtually through Discord
      <br />
      <br />
      <strong>Check-in</strong> <br />
      <strong style="color: #ed768b;">
        For in-person participants, you will use the QR code attached to this email and your Student ID to check-in. Please make sure you have both.
      </strong> <br />
      Once inside the Memorial Student Center (MSC), follow HowdyHack signs to the Bethancourt Ballroom on the 2nd floor. The room is also marked on the map at the bottom of this email. 
      <br />
      <br />
      <strong> Discord </strong> <br />
      HowdyHack will be a hybrid event, meaning we’ll have participants in-person and virtually. We’ll be using Discord both as our main communication platform for virtual hackers, and as a secondary communication platform for in-person hackers. 
      Join the Discord (<a href="https://discord.gg/e3fDwp2" style="color: #00add8">discord.gg/e3fDwp2</a>) and we will announce on there when virtual check-in opens for access to all the channels for the event. 
      <br />
      Note: Virtual check-in does not mean you'll be participating in person. You'll still need to show up to the MSC before 200 people arrive on Saturday. 
      <br />
      <br />
      <strong> Tentative Schedule </strong> <br />
      Saturday, Sept 11th: <br />
      9:00 AM: Doors Open, Check-In Begins <br />
      10:30 AM: Opening Ceremony + General Q/A <br />
      12:00 PM: Hacking starts <br />
      12:30 PM: Lunch <br />
      1:15 PM: Workshops (From Datathon, AWiCs, ACC, and more) <br />
      6:30 PM: Tech Intern Panel <br />
      7:30 PM: Dinner <br />
      8:00 PM: Fun Events <br />
      <br />
      Sunday, Sept 12th: <br />
      1:00 AM: More Fun Events <br />
      9:30 AM: Morning Yoga <br />
      12:00 PM: Hacking Ends <br />
      2:00 PM: Judging <br />
      4:00 PM: Award Ceremony  <br />
      <br />
      <strong> Building Hours </strong> <br />
      HowdyHack is a 24-Hour event, so everyone is welcome to stay in the MSC throughout the entire event. However, please keep in mind that after 8pm on Saturday, the doors to MSC will lock. You’re welcome to leave at any time, but if you leave after 8pm, you won’t be able to re-access the building until 10am on Sunday. 
      <br />
      <br />
      <strong> In-Person Capacity </strong> <br />
      <strong style="color: #ed768b;">Due to building capacity restrictions, we’ll only be able to admit 200 hackers in-person at HowdyHack. </strong> Therefore, in-person attendance will be conducted on a first-come-first-served basis. The first 200 people to show up to MSC 2500 will be allowed to hack in person. Our other hackers will be asked to participate virtually. Please come as early as you can to secure an in-person spot at HowdyHack.
      <br />
      <br />
      <strong> What To Bring </strong> <br />
      HowdyHack is a 24-Hour event, so we’d highly recommend bringing the following items to make sure you’re comfortable and productive!<br />
      <ul>
      <li>Laptop/Computer 💻 </li>
      <li>Chargers (Computer, phone, etc. 🔌) </li>
      <li>Jacket/Sweater (It gets cold sometimes 🥶) </li>
      <li>Blanket + Pillow (For sleep 😴) </li>
      <li>Earphones/headphones 🎧 </li>
      <li>Toiletries (Toothbrush, mouthwash, deodorant 🧼) </li> 
      <li>Miscellaneous items (Keyboard, mouse, notebook, stress ball, etc. 📓) </li>
      <li>Snacks (We’ll have food during the event, but in case you get hungry in the middle of hacking) 🍙 </li>
      </ul>
      <br />
      <strong> How Do Teams Work? </strong> <br />
      If you haven’t formed a team by Saturday, no worries! We’ll have a team matching event before hacking starts where you’ll be able to meet other hackers and join a team that fits your goals. 
      The maximum team size is 4 people, but you’re welcome to work solo or in teams of 2 or 3. However, we highly recommend joining a team. It’s a great way to make new friends and to keep you motivated throughout the event! 
      <br />
      <br />
      <strong> What Can I Build? </strong> <br />
      Feel free to build anything that interests you! If you can’t think of anything we’ll have special prize categories in addition to the “build anything” prompt, like “best musical hack”, to help you get started.
      <br />
      <br />
      <strong> How do I get help during the Hackathon? </strong> <br />
      HowdyHack is a beginner friendly hackathon, so we don’t expect everyone to be completely comfortable writing software right from the get-go. If you need some help ideating or getting your project started, we’ll have mentors floating around the room throughout the hackathon. They're here to help you, so don’t hesitate to ask for help!
      <br />
      <br />
      <strong> When can I work on my project? </strong><br />
      You’re allowed to work on your project from 12:00 pm on Saturday to 12:00 pm on Sunday. You’re welcome to ideate beforehand, but please do not work on your project at other times to avoid being disqualified from judging.
      <br />
      <br />
      <strong> Special Accommodations </strong><br />
      If you require any special accommodations during HowdyHack, please email us at         <a href="mailto:hello@tamuhack.com" style="color: #00add8"
      >hello@tamuhack.com</a
      >
      and we’d be happy to work with you.









      <h3
        style="
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 30px;
          font-weight: normal;
          color: #777777;
        "
      >
        We can't wait to see y'all there!
      </h3>

      <strong style="color: #ed768b; font-size: 16px; margin-bottom: 30px">
        The {{ event_name }} Team
      </strong>

      <p
        style="
          line-height: 20px;
          font-weight: normal;
          color: #777777;
          margin-bottom: 20px;
        "
      >
        P.S. Don't be scared if this is your first hackathon! {{ event_name }}
        is very beginner friendly (great mentors and resources to get you going)
        while also being challenging enough for experts!
      </p>

      <img src="https://tamuhack.com/static/assets/msc.jpg" style="width:100%" alt="" >
    </div>
  </div>
</html>
