<html>
<div style="background-color: #FFF8E8; z-index: 0; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;">

    <div style="font-family: Questrial, sans-serif;
				background: #fff;
				box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
				border-radius: 3px;
				padding: 50px!important;
				max-width: 500px;
				display: block;
				margin: 100px auto;">

        <img src="https://2021.hacklahoma.org/assets/logo2021.svg" alt="Hacklahoma 2021" style="height: 100px; margin-left: 50%; margin-bottom: 40px; transform: translateX(-50%);">

        <h2 style="margin-bottom: 20px; font-size: 14px; color: #777777">Hi {{ first_name }}!</h2>

        <p style="line-height: 20px; -webkit-font-smoothing: antialiased;
				  font-weight: normal;
				  color: #777777;
				  margin-bottom: 20px;">
            We just wanted to let you know we received your application for
            {{ event_name }}! We'll be carefully reviewing your application
            and will get back to you soon!
        </p>

        <h3 style=" margin-bottom: 5px;
				    font-size: 14px;
				    line-height: 30px;
				    -webkit-font-smoothing: antialiased;
				    font-weight: normal;">
            Thanks!
        </h3>

        <strong style=" color: #FE8826;
						font-size: 14px;">
            {{ event_name }} Team
        </strong>

	</div>
	
	<div style="margin-top: -30px; text-align: center; font-family: Questrial, sans-serif;">
        <div style="text-align: center;" class="text-center">
            Stay up to date with Hacklahoma by following our social media!
        </div>
        <div style="width: 100px; margin: 20px 0; display: inline-flex; justify-content: center;">
            <a href="https://www.facebook.com/Hacklahoma/" target="_blank">
                <img height="28px" src="https://2021.hacklahoma.org/assets/facebook.svg" alt="facebook" style="margin: 0 20px">
            </a>
            <a href="https://twitter.com/hacklahoma/" target="_blank">
                <img height="28px" src="https://2021.hacklahoma.org/assets/twitter.svg" alt="facebook" style="margin: 0 20px">
            </a>
            <a href="https://www.instagram.com/hacklahoma/" target="_blank">
                <img height="28px" src="https://2021.hacklahoma.org/assets/instagram.svg" alt="facebook" style="margin: 0 20px">           
            </a>
        </div>
    </div>
</div>
</html>
