<html>
	<div style="max-width:800px; background-color: #ADD8E6; z-index: -1; position: absolute; top: 0; left: 0; padding: 20px">

		<!-- <header>
			<div id='created-banner'>
					<img src='/resources/img/tamuhack-header.jpg' alt='tamuhack banner'>
			</div>
		</header> -->

		<div style="font-family: Questrial, sans-serif;
					background: #fff;
					box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
					border-radius: 3px;
					padding: 50px!important;
					max-width: 500px;
					display: block;
					margin: 20px auto;
					margin-top:0px">
			<h2 style="margin-bottom: 20px; font-size: 14px; color: #777777">Dear {{ first_name }},</h2>

			<p style="line-height: 20px; -webkit-font-smoothing: antialiased;
					font-weight: normal;
					color: #777777;
					margin-bottom: 20px;">
					Thank you so much for applying to {{EVENT_NAME}} {{EVENT_YEAR}}. We really appreciate the time you took to share your
				interests and skills with us. We were extremely impressed by your application but unfortunately, we are
				unable to extend an acceptance due to space constraints.
			</p>

			<p style="line-height: 20px; -webkit-font-smoothing: antialiased;
					font-weight: normal;
					color: #777777;
					margin-bottom: 20px;">
					If interested in future iterations of {{EVENT_NAME}}, please join our <a href="https://tamuhack.org/#our-community"
					target="_blank" style="color:#00ADD8">newsletter</a> to stay informed about application openings.
					We appreciate your understanding and wish you the very best in your future endeavors.

					Thank you again for your interest in {{ORGANIZER_NAME}}.


			</p>

			<h3 style=" margin-bottom: 0px;
						font-size: 14px;
						line-height: 30px;
						-webkit-font-smoothing: antialiased;
						font-weight: normal;">
				Best regards,
			</h3>

			<strong style=" color: #ADD8E6;
							font-size: 14px;">
				The {{ORGANIZER_NAME}} Team
			</strong>

		</div>
	</div>
</html>