<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
  </head>
  <body style="background-color:#ADD8E6">
    <!--$--><!--html--><!--head-->
    <div
      style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0"
      data-skip-in-text="true">
      Update regarding your application to {{ event_name }} {{ event_year }}
      <div>
         ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿
      </div>
    </div>
    <!--body-->
    <table
      border="0"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      align="center">
      <tbody>
        <tr>
          <td
            style='background-color:#ADD8E6;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";padding:8px'>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="max-width:544px;background-color:#ffffff;border-radius:6px;border:1px solid #d0d7de;box-shadow:0 1px 3px rgba(27, 31, 35, 0.12), 0 8px 24px rgba(66, 74, 83, 0.12);padding:24px;margin:0 auto">
              <tbody>
                <tr style="width:100%">
                  <td>
                    <h1
                      style="font-size:24px;font-weight:600;line-height:1.25;color:#24292e;margin:0 0 16px 0">
                      Application Update
                    </h1>
                    <p
                      style="font-size:16px;line-height:1.5;font-weight:400;color:#24292e;margin:0 0 16px 0;margin-top:0;margin-right:0;margin-bottom:16px;margin-left:0">
                      Dear
                      <!-- -->{{ first_name }}<!-- -->,
                    </p>
                    <p
                      style="font-size:16px;line-height:1.5;font-weight:400;color:#24292e;margin:0 0 16px 0;margin-top:0;margin-right:0;margin-bottom:16px;margin-left:0">
                      Thank you for applying to 
                      <!-- -->{{ event_name }}<!-- -->
                      <!-- -->{{ event_year }}<!-- -->. Unfortunately, due to capacity constraints we can't offer you a guaranteed spot, but we'd love to offer you a place on our <strong>waitlist</strong>.
                    </p>
                    <p
                      style="font-size:16px;line-height:1.5;font-weight:400;color:#24292e;margin:0 0 16px 0;margin-top:0;margin-right:0;margin-bottom:16px;margin-left:0">
                      As people's plans change, spots often open up on the day of the event. <!-- -->
                      We'll have a separate line for waitlisted applicants and will begin admitting them at <strong>{{ event_waitlist_checkin|date:"g:i A" }}</strong> on a first-come, first-served basis, so we recommend arriving early.
                    </p>
                    <p
                      style="font-size:16px;line-height:1.5;font-weight:400;color:#24292e;margin:0 0 16px 0;margin-top:0;margin-right:0;margin-bottom:16px;margin-left:0">
                      We will follow up soon with the location and other day-of
                      details.
                    </p>
                    <p
                      style="font-size:16px;line-height:1.5;font-weight:400;color:#24292e;margin:0 0 16px 0;margin-top:0;margin-right:0;margin-bottom:16px;margin-left:0">
                      If you have questions, please reach out to us at<!-- -->
                      <a
                        href="mailto:{{ organizer_email }}"
                        style="color:#007C89;text-decoration-line:none;text-decoration:underline;font-weight:600"
                        target="_blank"
                        >{{ organizer_email }}</a
                      >.
                    </p>
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="border-top:1px solid #d0d7de;margin-top:32px;padding-top:24px">
                      <tbody>
                        <tr>
                          <td>
                            <p
                              style="font-size:16px;line-height:24px;font-weight:400;color:#586069;margin:0 0 8px 0;margin-top:0;margin-right:0;margin-bottom:8px;margin-left:0">
                              Best regards,
                            </p>
                            <p
                              style="font-size:16px;line-height:24px;font-weight:600;color:#ADD8E6;margin:0;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0">
                              The
                              <!-- -->{{ organizer_name }}<!-- -->
                              Team
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>
