{% extends 'dashboard_base.html' %} {% block content %}{% load static %}

    <div class="application">
        <header class="text-center">
            <h3>{{ settings.EVENT_NAME }} Team</h3>
        </header>
        <div class="row">
            <div class="col-12 col-md-6">
                <h5>{{ object.name }}</h5>

            </div>
            <div class="col-12 col-md-6">
                <ul>
                    {% for application in member_applications %}
                        <li>{{ application.first_name }} {{ application.last_name }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <form method="POST" action="{% url 'team:leave' %}">
            {% csrf_token %}
            <input type="submit" value="LEAVE GROUP" class="btn btn-login">
        </form>

    </div>

{% endblock %}
