{% extends 'base.html' %}

{% block body %}

{% include 'includes/_navbar.html' %}

<header id="landing-screen" class="d-flex landing-screen">
    <div class="container pt-4">

        <div class="row">
            <!--<div class="col-md-6 col-lg-6"></div>-->  <!-- Remove the comments around these to justify right -->

            <div class="col-sm-12 col-lg-6 text-center">
                {% load static %}
                <img src="{% static 'howdyHackLogo.svg' %}" width=300vw height=300vh>
                <h1 class="font-weight-normal text-uppercase pt-3">
                    Howdy Hack
                </h1>
            </div>
        </div>


        <div class = "row pt-2">
            <!--<div class="col-md-6 col-lg-6 text-center"></div>-->

            <div class="col-sm-12 col-lg-6 text-center">
                <a class="register-btn btn btn-primary btn-lg js-scroll-trigger text-uppercase" href="/login">Access Application Here</a>
            </div>
        </div>

        <div class = "row pt-3">
            <!--<div class="col-md-6 col-lg-6 text-center"></div>-->

            <div class="col-sm-12 col-lg-6 text-center">
                <h4 class="font-weight-light">Start date - End date</h4>
            </div>
        </div>

    </div>

</header>

<section id="about" class="_content container">
    <h1 class="text-uppercase">Let's Write some <strong>Redass</strong> Code</h1>
    <p>
        Howdy Hack is a 24 hour coding marathon, from and for innovative hackers at Texas A&M University. Howdy Hackers will brainstorm, build, and break, before they’ll finally bring a product to a panel of judges for evaluation and hopefully win some cool prizes. Beyond hacking, Howdy Hack is about connecting creative and talented hackers at TAMU with tech companies they are interested in. We want to give hackers the opportunity to show off their capabilities to an audience who will listen. Howdy Hack offers a chance to meet recruiters from a diverse set of companies to ensure there’s a company for everybody, as well as workshops and social activities to make the most of the event.
    </p>
</section>

<section id="schedule" class="_content container">
    <h1 class="_content text-uppercase">
        Schedule
    </h1>
    <p>
        placeholder
    </p>

</section>

<footer id="foot" class="pt-5 container-fluid text-center">
    <hr>
    <div class="row">
        <div class="col-sm-4">Placeholder</div>

        <div class="col-sm-4">
            <h3>CONNECT</h3>
            <h5>
                <a href="" target="_blank"><i class="fab fa-twitter" ></i></a>
            </h5>
        </div>
    </div>
</footer>

{% endblock %}