html,body{
    padding:0;
}
body {
    margin: 0;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
    background: -moz-linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
    background: -ms-linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
    background: -o-linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
    background: linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
}

p, h1 {
    margin:0 0 1em !important;
    padding: 0;
}