.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

.landing-screen h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 430%;
}

#logo_bar {
    max-width: 100%;
}

#landing-screen {
    background-image: linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: table;
    background-size: cover;
    padding-top: 8vh;
    padding-right: 5vh;
}

.register-btn {
    outline: none !important;
    border-style: none !important;
    background-color:#2ebfc7 !important;
}

.register-btn:hover {
    background: white !important;
    color: #2ebfc7 !important;
}


._content h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 550%;
}

._content p {
    font-family: Helvetica;
    line-height: 2em;
}

.signin {
    background-color: #F9ECEE;
    padding-top: 7vh;
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    overflow: hidden;
    position: fixed;
    background-size: cover;
}

.sign_up {
    background-color: #D8ECFE;
    height: 100vh !important;
    margin-bottom: 0;
    padding-top: 7vh !important;
}

header {
    margin-bottom: 40px;
}

.signin label {
    width:100% !important;
    text-align: left !important;
}

.signin label, p, a {
    width: 100%;
}

.signin a {
    text-align: right !important;
}

.signin input {
    border: 1px solid #999999;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.signin input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
}

.sign_up input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
    background-color: #3E678C;
    color: white;
}
.sign_up input[type="submit"]:hover {
    background-color: #24405A;
    -webkit-transition: all, 0.8%;
    transition: all 0.8%;
    border: 0px solid #fff !important;}

.sign_up label {
    display: none;
}

.header-logo {
    max-width: 80px;
    margin-bottom: 20px;
}

.signin h1 {
    text-transform: uppercase;
    margin-bottom: 5px !important;
    font-size: 1.8rem;
}

.login-box {
    background: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 3em 5em !important; 
}

.application {
    background-image: linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246)) !important;
    height: 100vh !important;
    margin-bottom: 0;
    padding-top: 5vh !important;

    background-size: cover;
}

.flat-field {
    margin-bottom: 20px;
    outline: none;
    border: none;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 0;
    border-bottom: 1px solid black;
    -webkit-transition: all 0.5%;
    transition: all 0.5;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 96%, #2ebfc7 4%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #2ebfc7 4%);
    background-repeat: no-repeat;
}

.flat-field:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none;
    background-position: 0 0;
    border-bottom: 0px;
}

.btn-login {
    border-radius: 3px;
    background: #FF90A4;
    color: #fff;
    -webkit-transition: all, 0.8%;
    transition: all 0.8%;
    border: 0px solid #fff !important;
    text-transform: uppercase;
}

.btn-login:hover {
    background: #E86E84;
}

.no-border {
    border: none;
    border: transparent;
    outline: none;
    outline: transparent;
}

.forgot-pswd {
    text-align: right;
    display: block;
}

.sidebar {
    border: none;
    border: transparent;
    outline: none;
    outline: transparent;
    border-radius: 0 !important;
    background: transparent !important;
    background-color: transparent !important;
}

.list-group-item {
    border-radius: 0 !important;
}

.transparent-obj {
    background: transparent !important;   
}

.navbar-trans {
    background: transparent;
}

.sidebar li:hover {
    color: blue !important;
}

.sidebar a:link, a:hover a{
    text-decoration: none;
    color: black;
}

.sidebar a:visited {
    text-decoration: none;
}

.btn-back-submit {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.dashboard {
    background-image: linear-gradient(rgb(213, 244, 245),rgb(210, 226, 246));
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.alert {
    width: 100%;
    display: inline-block;
}

