{% extends 'base.html' %}

{% block body %}

{% include 'includes/_navbar.html' %}
<header id="landing-screen" class="d-flex landing-screen">
   
    <div class="container pt-4">

        <div class="row">
            <div class="col-sm-12 col-lg-6 text-center my-svg-container">
                {% load static %}
                <img src="{% static 'howdyHackLogo.svg' %}" width=300vh height=300vh>
                <!--change to 70% after figuring out how to fix whitespace-->
                <h1 class="font-weight-normal text-uppercase">
                    {{event_name}}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-6 text-center">
                <a class="register-btn btn btn-primary btn-lg js-scroll-trigger text-uppercase" href="/auth/login">Access
                    Application Here</a>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-sm-12 col-lg-6 text-center">
                <h4 class="font-weight-light">Start date - End date</h4>
            </div>
        </div>

    </div>

</header>

<section id="about" class="_content container">
    <h1 class="text-uppercase">{% autoescape off %} {{lead_sentence}} {% endautoescape %}</h1>
    <p>
        {{description}}
    </p>
</section>

<section id="schedule" class="_content container">
    <h1 class="_content text-uppercase">
        Schedule
    </h1>
    <p>
        Placeholder
    </p>

</section>

<footer id="foot" class="pt-5 container-fluid text-center">
    <hr>
    <div class="row">
        <div class="col-sm-4">Placeholder</div>

        <div class="col-sm-4">
            <h3>CONNECT</h3>
            <h5>
                <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
            </h5>
        </div>
    </div>
</footer>

{% include 'includes/particles.html' %}

{% endblock %}