{% extends 'hacker/dashboard_base.html' %} {% load static %} {% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="pt-5">
  <div class="login-box">
    
    <header>
      {% if COMPLETE or NEEDS_TO_RSVP %}
      <ol class="timeline-24">
        {% else %}
        <ol class="timeline">
          {% endif %}
          
        <li>
          <p class="diplome">Submitted</p>
          {% if COMPLETE or REJECTED or PENDING or NEEDS_TO_RSVP %}
            <img src="{% static 'tick.svg' %}">
            {% else %}
            <span class="point"></span>
            {% endif %}
          </li>
          <li>
            <p class="diplome">Reviewed</p>
            {% if COMPLETE or REJECTED or NEEDS_TO_RSVP or WAIT_UNTIL_NEXT_WAVE%}
            <img src="{% static 'tick.svg' %}">
            {% else %}
            <span class="point"></span>
            {% endif %}        
          </li>
          <li>
            <p class="diplome">Decisions Released</p>
            {% if COMPLETE or REJECTED or NEEDS_TO_RSVP %}
            <img src="{% static 'tick.svg' %}"> 
            {% else %}
            <span class="point"></span>
            {% endif %}
          </li>
          
          {% if COMPLETE or NEEDS_TO_RSVP %}
          <li>
            <p class="diplome">RSVP</p>
            {% if COMPLETE %}
            <img src="{% static 'tick.svg' %}"> 
            {% else %}
            <span class="point"></span>
            {% endif %}
          </li>{% endif %}
        </ol>
      </header>
      
      <div class="pt-4 text-center submit-pg">
        <br>
        {% if NEEDS_TO_APPLY %}
        <p> Your application is </p>
        <div class="app-status">INCOMPLETE</div>
        
        <p class="status-subtitle pt-2">
          {% localtime off %}
          Submit your application before {{active_wave_end}} {{TIME_ZONE}} to be considered.
          {% endlocaltime %}
        </p>

        <div class="row login-alt-options pt-4">
          <div class="col-sm-12 col-lg-12 text-center">
              <br>
              <a href="{% url 'application' %}" class="btn btn-login">Complete Application</a>
          </div>
        </div>

      {% elif PENDING %}
      <p> Your application has been </p>
      <div class="app-status">SUBMITTED</div>

      <p class="status-subtitle pt-2">
        Check back soon! Decisions will be released soon.
      </p>
      <div class="row login-alt-options pt-4">
        <div class="col-sm-12 col-lg-12 text-center">
            <br>
            <a href="{% url 'application' %}" class="btn btn-login">View Application</a>
            <form method="POST" action="{% url 'decline' %}">
                {% csrf_token %}
              <button type="submit" class="btn">I Can't Make It</button>
            </form>
        </div>
      </div>

      {% elif NEEDS_TO_RSVP %}
      <p> Congrats, you have been </p>
      <div class="app-status">ACCEPTED</div>

      <p class="status-subtitle pt-2">
        {% localtime off %}
        Please RSVP below by {{rsvp_deadline}} {{TIME_ZONE}} or you risk losing your spot.
        {% endlocaltime %}
      </p>
       <div class="row login-alt-options pt-4">
        <div class="col-sm-12 col-lg-12 text-center">
            <br>
            <a href="{% url 'rsvp' %}" class="btn btn-login"
        >RSVP Here!</a>
          </div>
      </div>

      {% elif COMPLETE %}
      <p>Your attendance has been</p>
      <div class="app-status">CONFIRMED</div>

      <p class="status-subtitle pt-2">
        Prepare for the event by visiting our FAQ for tips and info. See you soon!
      </p>

      <p class="pt-5">
        Have additional questions? Email us at hello@tamuhack.com
      </p>

      {% elif REJECTED %}
      <p> Your application has been </p>
      <div class="app-status">WAITLISTED</div>

      <p class="status-subtitle pt-2">
        You have not been admitted into the event.
      </p>

      <div class="row login-alt-options pt-4">
        <div class="col-sm-12 col-lg-12 text-center">
            <br>
            <a href="{% url 'application' %}" class="btn btn-login">View Application</a>
        </div>
      {% elif CANT_MAKE_IT %}
      <p>We're sorry to hear you can't make it! Thanks for telling us!</p>
      </div>{%endif%}
    </div>
    
</div>
{% endblock %}
