<html>
  <div style="max-width:800px; background-color: #F9ECEE; z-index: -1; position: absolute; top: 0; left: 0; padding: 20px">

	<div style="font-family: Questrial, sans-serif; 
				background: #fff;
				box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
				border-radius: 3px;
				padding: 50px!important; 
				max-width: 500px;
				display: block;
				margin: 20px auto;">
		<h2 style="margin-bottom: 20px; font-size: 14px; color: #777777">Hello {{ user.first_name }},</h2>

		<p style="line-height: 20px; -webkit-font-smoothing: antialiased;  
				  font-weight: normal;
				  color: #777777;
		 	      margin-bottom: 20px;">
			  	Thank you for applying to {{ event_name }}. Unfortunately, we regret to inform you that your application has been waitlisted. This decision is not a reflection of you or your experience level.</p>
			  
		<p  style="line-height: 20px; -webkit-font-smoothing: antialiased;  
				   font-weight: normal;
				   color: #777777;
				   margin-bottom: 20px;"> 
				You may still attend as a walk-in, but please note that admission is not gauranteed. You can check our FAQs on how this process works.</p>

		<p style="line-height: 20px; -webkit-font-smoothing: antialiased;  
				  font-weight: normal;
				  color: #777777;
			  	  margin-bottom: 20px;">
				If you have any other questions, please don't hesitate to reach us at <a style="color: #00ADD8" href="mailto:hello@tamuhack.com">hello@tamuhack.com</a>.</p>
		
		
		<h3 style=" margin-bottom: 0px;
				    font-size: 14px;
				    line-height: 30px;
				    -webkit-font-smoothing: antialiased;  
				    font-weight: normal;">
			Sincerely,
		</h3>

		<strong style=" color: #ED768B;
						font-size: 14px;">
			The {{ event_name }} Team
		</strong>

	</div>
</div>
</html>