{% extends 'dashboard_base.html' %} {% block content %}
    <div class="application rsvp">
        <header class="text-center">
            <h3>{{ event_name }} 2020 RSVP</h3>
        </header>
        <p>Congrats on getting accepted! As soon as you fill out the following form, you'll be all set to go
            to {{ event_name }} on
            {{ event_start_datetime }}!</p>
        <hr/>
        <form method="POST" id="rsvp-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-12 col-md-4">
                    <button type="submit" class="btn btn-lg btn-block btn-login w-100">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
