{% extends 'dashboard_base.html' %} {% block content %}
    <div class="application rsvp">
        <header class="text-center">
            <h3>{{ event_name }} 2020 RSVP</h3>
        </header>
        <p>Are you sure you want to decline your spot for {{ event_name }}? We'll give this spot to another person if
            you decline.</p>
        <hr/>
        <div class="col-12 col-md-4">
            <form action="{% url 'rsvp:decline' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-lg btn-login rsvp-button w-100 secondary ml-0" type="submit" id="rsvp-no">I Can't
                    Make It
                </button>
            </form>
        </div>
    </div>

{% endblock %}
