{% extends 'dashboard_base.html' %} {% block content %}
<div class="application">
    <h1>RSVP</h1>
    <p>Congrats! We can't wait to see what you build at {{ event_name }}!</p>
    <hr/>
    <p>
        Will you be able to attend {{ event_name }} on
        {{ event_start_datetime }} for {{ event_start_datetime | timesince:event_end_datetime }}?
    </p>
    <button type="button" class="btn btn-lg btn-login rsvp-button" id="rsvp-yes">Yes</button>
    <form
            method="POST"
            id="rsvp-form"
            style="display:none;"
    >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-lg btn-block btn-login">
            Submit
        </button>
    </form>
</div>
<script>
    document.getElementById("rsvp-yes").addEventListener("click", e => {
        e.preventDefault();
        document.getElementById("rsvp-form").style.display = "inherit";
    });
</script>

{% endblock %}
