{% extends 'base.html' %}


{% block body %}
<section class="dashboard">
        {% include 'includes/_logoBar.html' %}
<div class="container">

    <div class="row">
        <div class='col-xl-2 col-lg-2 col-md-3 col-sm-12'>
            {% include 'includes/_dashboardNavbar.html' %}
        </div>
        <div class=".d-md-none .d-sm-none .d-xs-none col-xl-1 col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
        <div class="justify-content-center col-xl-7 col-lg-7 col-md-7 col-sm-12 pt-5">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
        </div>
    </div>

</div>
</section>
{% endblock %}