{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="container page-auth-alt flex flex-center">
    <article class="card card-elevated max-w-md w-full text-center">
        <h1 class="auth-title text-uppercase tracking-wide mb-4">{{ event_name }} {{ event_year }} Application</h1>
        
        <p>Thanks for signing up!</p>
        <p class="mb-4">Please check your email for a verification link.</p>

        <a href="{% url 'customauth:login' %}" role="button" class="btn-primary w-full">Back to Login</a>
    </article>
</main>
{% endblock %}
