{% extends 'base.html' %}
{% block additional_CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'check_inbox.css' %}" />
{% endblock %}
{% block body %}
<section class = "signin sign_up">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-sm-12 col-md-8 col-lg-6 login-box">
        <h1 class="text-center">{{ event_name | upper }} {% now 'Y' %} APPLICATION</h1>
        <br>
        <p>Thanks for signing up!</p>
        <p>Please check your email for a verification link.</p>
        <br>
        <a href="{% url 'customauth:login' %}" class="btn btn-lg btn-block btn-login a-btn w-100">Back to Login</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
