{% extends 'base.html' %}{% block body %}

    <section>
        <div>

            <header>
                <h1>{{ event_name }}</h1>
            </header>

            <form method="POST" action="{% url 'customauth:login' %}">
                {% csrf_token %}
                <!-- security -->
                <div>
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ csrf_input }}
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p>{{ field.help_text|safe }}</p>
                        {% endif %}

                    {% endfor %}


                    <a href="{% url 'customauth:password_reset' %}">Forgot Password?</a>
                    <a href="{% url 'customauth:resend_activation' %}">Can't Log In?</a>


                    <input type="submit" value="Log In"/>
                </div>
            </form>

            <div>
                Don't have an account? <a href="{% url 'customauth:signup' %}">Sign up</a>
            </div>

        </div>
    </section>
{% endblock %}