{% extends 'base.html' %}

{% block body %}
<section class="signin reset-container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-8 col-lg-6 login-box password-box ">
                <h3>Forgot password</h3>
                <br>

                <p>Enter you email address to reset your password.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn-login btn-lg btn-block w-100" type="submit" placeholder="Email">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}