{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="signin reset-container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-8 col-lg-6 login-box password-box ">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>

                <br>

                <a href="{% url 'customauth:login' %}" class="btn-login btn-lg btn-block w-100 a-btn">Log in</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}