{% extends 'base.html' %}

{% block body %}
<section class="signin reset-container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-8 col-lg-6 login-box password-box ">
                {% if validlink %}
                <h3>Change password</h3>
                <br>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <br>
                    <button type="submit" class="btn-login btn-lg btn-block w-100">Submit</button>
                </form>
                {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}