{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="container page-auth flex flex-center">
    <article class="card card-elevated max-w-md w-full">
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p class="mb-4">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

        <a href="{% url 'customauth:login' %}" role="button" class="btn-primary w-full text-center">Log in</a>
    </article>
</main>
{% endblock %}
