{% extends 'base.html' %}


{% block body %}
<section class="signin reset-container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-8 col-lg-6 login-box password-box ">
                <h4>Password Reset Successful</h4>
                <br>

                <p>Your password has been reset. You can log into your account <a href="{% url 'login' %}">here</a>.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}