{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="signin sign_up">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-sm-12 col-md-8 col-lg-6 login-box">

                <header>
                    <img class="header-logo" src="{% static 'howdyHackLogo.svg' %}">
                    <h1>{{event_name}} 2019</h1>
                    <h1>Application</h1>
                </header>

                <form method="POST">
                    {% csrf_token %}    <!-- security -->

                    {{form.as_p}}
                    <input type="submit" value="Register" class="btn btn-lg btn-block btn-login"
                    >
                </form>

                <div class="row login-alt-options pt-4">
                    <div class="col-sm-12 col-lg-12 text-center">
                        Already have an account? <a href="{% url 'customauth:login' %}">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}